.main {
    /*width: 115%;*/
    height: 100vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

@media screen and (max-width: 670px) {
    .main {
        height: 100%;
    }
}

