.component {
    width: 85%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nameSlogan {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
}

.oneButton {
    height: 80px;
}

.blockLine {
    height: 2px;
    width: 200px;
    margin: 30px 0;
    background-color: #ea548d;
}

@media screen and (max-width: 380px) {
    .nameSlogan {
        font-size: 20px;
    }
}