.header {
    background: #3a8799;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;

}
.container {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
@media screen and (max-width: 680px) {
    .container {
        width: 70%;
    }
}