.form {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
}
.ad {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.ad:hover{
    border: 1px solid white;
}

.ad img{
    height: 40px;
    width: 40px;
    padding-top: 15%;
}

@media screen and (max-width: 650px) {
    .form {
        display: flex;
        height: 100%;
        width: auto;

    }
}